PMM_CONTAINER_NAME="pmm-server"
PMM_URL="https://localhost:8443"
PMM_USER="admin"
PMM_PASS="super-duper-strong-password"

CLICKHOUSE_USER="default"
CLICKHOUSE_PASS="clickhouse"

USE_AI=False
AI_API_KEY="your_api_key_here"

#OUTPUT_DATA_FILE="pmm_telemetry.json"
OUTPUT_DATA_FILE="pmm_telemetry.json"
